/* Sub Banner Section Style */
.sub-banner{
    padding: toRem(100) 0;
    @include min-desktop-lg{
        padding-top: toRem(175)
    }
    &__title{
        color: $color-primary;
        font-weight: 600;
        line-height: 1;
        margin-bottom: toRem(20);
        @include min-tablet{
            font-size: toRem(65);
        }
    }      
    &__sub-title{
        color: $color-primary;
        font-weight: 400;
        line-height: 1;
        margin-bottom: toRem(20);
        font-size: toRem(20);
        @include min-tablet{
            font-size: toRem(35);
        }
    }      
}