// SCSS Variable's
$font-primary: 'Quicksand', sans-serif;

$color-primary:#19336d;

$color-primary-gradient--1:#0d279c;
$color-primary-gradient--2:#52a4f3;

$color-secondary:#5bc4b4;
$color-secondary-gradient--2:#4a9fc6;

$color-black--200:#262626;
$color-black:#000000;

$color-white:#ffffff;