/* Header Section Style */
.header{
	z-index: 9;
	@extend %transition;
	.container{
		@include min-desktop-lg{
			max-width: 1180px;
			padding: 0;
		}
	}
	.navbar{
		&-brand{
			max-width: toRem(200);
			@include min-desktop-lg{
				max-width: toRem(180);
			}

		}
		&-collapse{
			&__logo{
				order: 1;
				max-width: toRem(200);
			}
			&::after{
				@extend %secondary-gradient;
			}
			@include desktop-lg{
				position: fixed;
				top: 0;
				left: 0;
				transform: translateX(-100%);
				display: flex;
				flex-direction: column-reverse;
				align-items: flex-start;
				justify-content: center;
				width: 50%;
				height: 100vh;
				padding: 0 toRem(30) toRem(150);
				overflow-y: auto;
				background-color: $color-white;
				transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
				z-index: 5;
				&::before,
				&::after{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 120%;
					z-index: 2;
					pointer-events: none;
				}
				&::after{
					clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
				}
				&.show{
					transform: translateX(0);
					box-shadow: 2px 0 15px rgba($color-black, $alpha: 0.1);
					&::before{
						background-color: $color-white;
						opacity: 1;
						animation: slideFade 4s forwards;
					}
					&::after{
						animation: slideReveal 1s forwards;
					}
				}
			}
			@include tablet{
				width: 100%;
			}
			@keyframes slideFade {
				0%{
					background-color: $color-white;
					opacity: 1;
				}
				100%{
					background-color: transparent;
					opacity: 0;
				}
			}
			@keyframes slideReveal {
				0%{
					clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
				}
				70%{
					clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				}
				100%{
					clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
				}
			}
		}
		&-nav{
			@include desktop-lg{
				width: 100%;
			}
		}
		.nav{
			&-item{
				.dropdown{
					&-toggle{
						@include desktop-lg{
							width: 100%;
							text-align: left;
						}
						&::after{
							display: none;
						}
						&::before{
							@include min-desktop-lg{
								content: "";
							}
							position: absolute;
							bottom: 0;
							left: 50%;
							transform: translate(-50%, 50%) rotate(45deg);
							width: toRem(10);
							height: toRem(10);
							background-color: $color-primary;
							opacity: 0;
							visibility: hidden;
							pointer-events: none;
							transition: all linear .2s;
						}
					}
					&-menu{
						padding: 0;
						background-color: darken($color-white, $amount: 2.5);
						@extend %transition;
						@include min-desktop-lg{
							width: 100%;
							padding: toRem(20) 0;
							opacity: 0;
							visibility: hidden;
							background-color: $color-primary;
						}
						@include desktop-lg{
							.container{
								max-width: 100%;
							}
						}
						.nav-item{
							@include desktop-lg{
								width: 100%;
							}
						}
					}
					&-item{
						color: $color-primary;
						padding-top: toRem(15);
						padding-bottom: toRem(15);
						font-weight: 600;
						@include min-desktop-lg{
							color: $color-white;
							padding-top: toRem(8);
							padding-bottom: toRem(8);
						}
						@include desktop-lg{
							padding-left: 0;
							padding-right: 0;
						}
						@extend %transition;
						&:active,
						&:hover,
						&:focus{
							color: $color-secondary;
						}
						&.active{
							color: $color-secondary;
							@include min-desktop-lg{
								color: $color-white;
								border: 2px solid currentColor;
								border-radius: 2rem;
								&:hover,
								&:focus{
									border-color: $color-secondary;
								}
							}
						}
					}
				}
				&.dropdown{
					@include min-desktop-lg{
						&:hover,
						&:focus{
							.dropdown{
								&-toggle::before,
								&-menu{
									opacity: 1;
									visibility: visible;
								}
								&-toggle::before{
									transition-duration: .3s;
								}
							}
							.nav-link{
								color: $color-secondary;
							}
						}
					}
				}
			}
			&-link{
				color: $color-primary;
				font-size: 1rem;
				font-weight: 600;
				padding: toRem(15);
				@include min-desktop-lg{
					color: $color-white;
					padding: toRem(20) toRem(15);
				}
				@extend %transition;
				&:hover,
				&:focus-visible{
					color: $color-secondary;
				}
				&.active{
					color: $color-secondary-gradient--2 !important;
				}
				&:focus ~ .dropdown-menu{
					@include min-desktop-lg{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		.btn-nav{
			.nav-item{
				&:not(:last-child){
					@include min-desktop-lg{
						margin-right: toRem(15);
					}
					@include desktop-lg{
						margin-bottom: toRem(15);
					}
				}
				.gradient-btn--primary{
					@extend %shadow;
				}
			}
			@include desktop-lg{
				order: 0;
			}
		}
		.social-nav{
			&__link{
				color: $color-white;
				padding: toRem(5) toRem(15);
				@extend %transition;
				&:hover,
				&:focus{
					color: $color-secondary;
				}
			}
			@include desktop-lg{
				order: -1;
				&__link{
					color: $color-primary;
				}
			}
		}
	}
	&--fixed{
		position: absolute;
		top: 0;
		@include min-desktop-lg{
			padding-top: toRem(15);
			padding-bottom: toRem(15);
		}
		&:not(.fixed){
			.navbar{
				.nav-link{
					color: $color-primary;
					&:hover,
					&:focus{
						color: $color-secondary;
					}
				}
				.social-nav__link{
					@include min-desktop-lg{
						color: $color-primary;
						&:hover,
						&:focus{
							color: $color-secondary;
						}
					}
				}
			}
		}
		.navbar-brand{
			@include desktop-lg{
				display: none !important;
			}
			&__logo{
				display: block;
			}
			&__active-logo{
				display: none;
			}
		}
		&.fixed{
			position: fixed;
			transform: translateY(-100%);
			background-color: $color-primary;
			box-shadow: 0 3px 18px rgba($color-black, $alpha: 0.12);
			animation: header_in .4s linear forwards;
			.navbar-brand{
				&__logo{
					display: none;
				}
				&__active-logo{
					display: block;
				}
			}
		}
	}
	&--sticky{
		background-color: $color-primary;
		.navbar .btn-nav .nav-item .gradient-btn--primary{
			@include min-desktop-lg{
				box-shadow: none;
			}
		}
	}
	&.sticky{
		@include min-desktop-lg{
			position: fixed;
			top: 0;
		}
	}
	&--active{
		@include min-desktop-lg{
			&:not(.fixed){
				.navbar{
					.nav-link{
						color: $color-white;
					}
					.social-nav__link{
						@include min-desktop-lg{
							color: $color-white;
							
						}
					}
				}
			}
		}
	}
}
.navbar-toggler{
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: toRem(12);
	letter-spacing: 4px;
	color: $color-primary;
	background-color: $color-white;
	font-weight: 600;
	width: toRem(130);
	height: toRem(60);
	border-radius: 0;
	box-shadow: 4px 9px 20px rgba(80, 136, 163, 0.15);
	z-index: 10;
	transition: all 0.25s ease;
	&__wrapper{
		transition: all 0.25s ease;
	}
	&__text{
		@extend %transition;
	}
	&__icon{
		width: toRem(20);
		height: toRem(20);
		color: $color-primary;
		@extend %transition;
		&::before,
		&::after{
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: currentColor;
			transition: transform 0.5s cubic-bezier(0, 0.785, 0, 1);
		}
	}
	&[aria-expanded="true"]{
		width: toRem(60);
		border-radius: 0 30px 0 0;
		@extend %secondary-gradient;
		.navbar-toggler{
			&__wrapper{
				padding-right: 6px;
			}
			&__text{
				opacity: 0;
				font-size: 0;
				position: absolute;
			}
			&__icon{
				color: $color-white;
				transform: rotate(45deg);
				&::after{
					transform: rotate(90deg);
				}
			}
		}
	}
	&:hover{
		.navbar-toggler__text{
			@include min-tablet{
				color: $color-secondary;
			}
		}
	}
}

/* Fixed Header animation */
@keyframes header_in{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0);
	}
}